/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.toast-container {
    top: 70px;
    right: 20px;
    position: absolute;
    font-family: monospace;
    color: rgb(231, 43, 43)(149, 54, 54);
}
.toast-success{
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgb(57, 208, 57);
}
.toast-error{
    padding: 6px 10px;
    border-radius: 8px;
    background-color: rgb(231, 43, 43)(149, 54, 54);
}